<mat-card class="card">
  <mat-card-content>
    <section>
      <mat-form-field class="form-field">
        <input matInput placeholder="Name" name="name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Address" name="address" [(ngModel)]="address">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select placeholder="City" [(ngModel)]="city">
          <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}-{{city.state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" name="age" [(ngModel)]="age">
      </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>>

<mat-card class="card" *ngIf="clients.length > 0">
  <mat-card-content>
    <section>
      <mat-list>
        <h3 matHeader>Clients</h3>
        <mat-list-item *ngFor="let client of clients;let i=index">
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Name: {{client.name}}</h2>
          <h2 matLine>Address: {{client.name}}</h2>
          <h2 matLine>Phone: {{client.name}}</h2>
          <h2 matLine>Age: {{client.name}}</h2>
          <h2 matLine>City: {{client.city}}</h2>
          <button mat-icon-button color="accent" (click)="delete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

      </mat-list>
    </section>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>